@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        font-family: 'poppins';
    }
    .nav-menu-link{
        @apply mb-3
    }
}
@layer utilities{
    .btn{
        @apply rounded-md text-center
    }
    .open-nav-menu{
        display: block;
    }
    .close-nav-menu{
        display: none;
    }
    .hero-side-img{
        @apply hidden
    }
    .line-h{
        line-height: 20px;
    }
}
@layer components{
    .home .earth{
        width: 30vh;
        height: 30vh;
        margin: auto;
        position: relative;
        top: 2rem;
        background: rgb(213, 213, 223);
        border-radius: 50%;
        background-image: url(./assets/map.jpg);
        background-position: center;
        background-size: 100% 100%;
        background-repeat: repeat-x;
        animation: rotate 3s linear infinite;
    }
    @keyframes rotate {
        from {
            background-position-x: 0vh;
        }
        to{
            background-position-x: 30vh;
        }
    }

    .heading{
        @apply text-3xl font-bold
    }

    .box-shadow{
        @apply rounded-[100px] p-4 mb-4 shadow-[0px_3px_5px_3px] shadow-neutral-300 text-center font-extrabold
    }
}