@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body{
        font-family: 'poppins';
    }
    .nav-menu-link{
        @apply mb-3
    }
}
@layer utilities{
    .btn{
        @apply rounded-md text-center
    }
    .open-nav-menu{
        display: block;
    }
    .close-nav-menu{
        display: none;
    }
    .hero-side-img{
        @apply hidden
    }
    .line-h{
        line-height: 20px;
    }
}